
{% extends "base.html" %}


{% block content %}

    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- error area start -->
    <div class="error-area ptb--100 text-center">
        <div class="container">
            <div class="error-content">
                <h2>System Error</h2>
                <p>{{error}}</p>
                <a href="{{ url_for('main_app.main')}}">Back to Login</a>
            </div>
        </div>
    </div>


{% endblock %}
