<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Companion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="static/assets/css/metisMenu.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- amchart 4 ss -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <!-- others css -->
    <link rel="stylesheet" href="static/assets/css/typography.css">
    <link rel="stylesheet" href="static/assets/css/default-css.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
    <link rel="stylesheet" href="static/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="static/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">




      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap.min.css">

    <!-- style css
    <style>
    div {background-image: url("{{ url_for('static', filename='assets/cool.jpeg') }}");}
    </style>
  </head>-->
  <body class="body-bg" style="background-color:gray">


    {% block content %}{% endblock %}
    <!-- Page footer -->
      <div class="col-md-offset-3 col-md-6">
        <hr />
        <footer>
        2021 Wookieware
        </footer>
      </div>

    </div>

    <!-- jquery latest version -->
    <script src="static/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="static/assets/js/popper.min.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>
    <script src="static/assets/js/owl.carousel.min.js"></script>
    <script src="static/assets/js/metisMenu.min.js"></script>
    <script src="static/assets/js/jquery.slimscroll.min.js"></script>
    <script src="static/assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <!-- start amcharts -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    <!-- Amchart version 4 libraries -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>




    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <!-- others plugins -->



    <!-- all line chart activation -->
    <script src="static/assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="static/assets/js/pie-chart.js"></script>
    <!-- all bar chart -->
    <script src="static/assets/js/bar-chart.js"></script>
    <!-- all map chart -->
    <script src="static/assets/js/maps.js"></script>
    <!-- others plugins -->
    <script src="static/assets/js/plugins.js"></script>
    <script src="static/assets/js/scripts.js"></script>



    <!-- jquery latest version -->
    <script src="static/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="static/assets/js/popper.min.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>
    <script src="static/assets/js/owl.carousel.min.js"></script>
    <script src="static/assets/js/metisMenu.min.js"></script>
    <script src="static/assets/js/jquery.slimscroll.min.js"></script>
    <script src="static/assets/js/jquery.slicknav.min.js"></script>









    <script>
      AmCharts.makeChart( "chartdiv", {
      "type": "serial",
      "dataProvider": chartData,
      "categoryField": "country",
      "rotate" : true,
      "graphs": [ {
      "valueField": "visits",
      "balloonText": "[[category]]: <b>[[value]]</b>",
      "type": "column",
      "fillAlphas": 0.8,
      "angle": 30,
      "depth3D": 15,
      "fillColors": "#3e97ad",

        } ]
      } );

      
      // pie chart
      AmCharts.makeChart("chartdiv2",
              {
              "type": "pie",
              "pathToImages": "classes/amcharts/images/",
              "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
              "titleField": "category",
              "valueField": "column-1",
              "fontSize": 14,
              "radius": 65,
              "marginLeft": 10,
              "marginRight": 10,
              "marginBottom": 10,
              "marginTop": 10,
              "autoMargins": false,
              "theme": "light",
              "allLabels": [],
              "balloon": {},
              "dataProvider": chartData2
          }
      );

      </script>
    <!-- Social Campain area end -->


    {% block end_body_js %}{% endblock %}

  </body>
</html>
